{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="w-100 logo-container">
    <div class="row">
        <div class="col-12">
            <div class="logo logo-container">
                <h1 class="logo-txt white">WildHook</h1>
            </div>
        </div>
    </div>
</div>
<div class="bg-yellow">
    <div class="row">
        <div class="col-12 d-block blue cta-banner">
            <h4 class="text-uppercase">
                New Lines available <a href="" class="btn shop-now-button rounded-0 text-uppercase blue display-4">Shop Now</a>
            </h4>
        </div>
    </div>
</div>
<div class="promo-section">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
{% endblock %}