{% extends 'base.html' %}
{% load static %}


{% block content %}



<div class="promotions">
    <div class="overlay">
        <h1 class="blue text-center">
            Check out our latest stock below!
        </h1>
    </div>
    <div class="promo-section">
        <div class="row d-none d-lg-flex">
            <div class="col">
                <div class="col d-flex justify-content-center">
                    <div class="box">
                        <span style="--i:1"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:2"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:3"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:4"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:5"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:6"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:7"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                        <span style="--i:8"><img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" alt=""></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-lg-none">

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{{ MEDIA_URL }}KarolinaGrabowska-pexels.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}