@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    outline: 1px solid #f00 !important;
} */


body {
    font-family: 'Montserrat', sans-serif;
}

/* Color pallet */
.yellow {
    color: #DAA520;
}

.bg-yellow {
    background-color: #DAA520;
}

.blue {
    color: #0D3D6D;
}

.bg-blue {
    background-color: #0D3D6D;
}

.green {
    color: #00563F;
}

.bg-green {
    background-color: #00563F;
}

.brown {
    color: #8B5A2B;
}

.bg-brown {
    background-color: #8B5A2B;
}

/* Navbar  */
.navbar {
    margin-bottom: 1px #DAA520 solid;
}

/* HOME PAGE  */
/* Logo */

.logo {
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #00563F;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.logo-container {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 12rem;
}

.logo-txt {
    font-family: 'Montserrat', sans-serif;
    color: #DAA520;
    font-size: 9.5rem;
    margin: 0;
}

.cta-banner {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.cta-banner > h4 {
    margin: 0;
}

.shop-now-button {
    border: 1px solid black;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.promo-section {
    background: url('/media/webimages/KarolinaGrabowska-pexels.webp') no-repeat center center fixed;
    background-size: cover;
    height: 75rem;
    width: 100%;
    margin: 0;
    padding: 0;
}