@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    outline: 1px solid #f00 !important;
} */

html {
    position: relative;
    min-height: 100%;
}

.row {
    --bs-gutter-x: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin-bottom: 300px;
}

/* Color pallet */
.yellow {
    color: #DAA520;
}

.bg-yellow {
    background-color: #DAA520;
}

.blue {
    color: #0D3D6D;
}

.bg-blue {
    background-color: #0D3D6D;
}

.green {
    color: #00563F;
}

.bg-green {
    background-color: #00563F;
}

.brown {
    color: #8B5A2B;
}

.bg-brown {
    background-color: #8B5A2B;
}

.white {
    color: white;
}

/* Navbar  */
.navbar {
    margin-bottom: 1px #DAA520 solid;
}

/* HOME PAGE  */
/* Logo */

.logo {
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #0D3D6D;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.logo-container {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-txt {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    background-image: url(https://image.ibb.co/ciSeac/image.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate-logo 15s linear infinite;
}

@keyframes animate-logo {
    0% {
        background-position: left 0px top 80px;
    }

    40% {
        background-position: left 800px top -50px;
    }

    80% {
        background-position: left 1800px top -50px;
    }

    100% {
        background-position: left 2400px top 80px;
    }
}


.cta-banner {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.cta-banner:hover {
    color: #fff;
}

.cta-banner>h4 {
    margin: 0;
}

.shop-now-button {
    border: 1px solid #0D3D6D;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.shop-now-button:hover {
    border: 1px solid #fff;
    color: #fff;
}

/* Promotion Section Home Page */

.promotions {
    background: url('/media/webimages/lum3n-pexels.webp') no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.promo-title {
    justify-content: center !important;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
}

.promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    margin: auto;
    height: 15rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(226, 226, 226, 0.35);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);

}

.card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Promotion Animation */
.box {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate-img 40s linear infinite;
}

@keyframes animate-img {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}


/* FOOTER  */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
}

/* Sticky footer style and color
  -------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: #0D3D6D;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

footer .form-control {
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}



/* BANNERS  */

.page-banner {
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #0D3D6D;
    font-size: 4rem;
    margin: 0;
}

/* BUTTONS  */

.add-btn {
    border: 1px solid #0D3D6D;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: #DAA520;
}


.add-btn:hover {
    border: 1px solid #0D3D6D;
    color: #DAA520;
    background-color: #0D3D6D;

}
.continue-btn {
    border: 1px solid #0D3D6D;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.continue-btn:hover {
    border: 1px solid #0D3D6D;
    background-color: #DAA520;
    color: #0D3D6D;
}

.bin {
    color: red;
}
/* MESSAGES */

.messages-item-div {
    justify-content: center;
    align-content: center;
}
.messages-item-detail {
    margin: auto;
    margin-bottom: 0;
    width: 75%;
}

/* ACCOUNT LOGIN/LOGOUT/SIGN-UP */

.account-page {
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.signup {
    text-align: left;
    width: fit-content;
    margin: auto;
}
/* MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

    .logo-txt {
        font-size: 4.5rem;
    }
    
}

/* // Small devices (landscape phones, 768px and down) */

@media (max-width: 768px) {
   
    body {
        margin-bottom: 500px;
    }

    .footer {
        height: 500px;
    }

    .page-banner {
        font-size: 2rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .logo-txt {
        font-size: 6.5rem;
    }

    .page-banner {
        font-size: 2rem;
    }
   
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .logo-txt {
        font-size: 7.5rem;
    }
    .page-banner {
        font-size: 3rem;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .logo-txt {
        font-size: 9.5rem;
    }

    .page-banner {
        font-size: 4rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}