{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="">
{% endblock %}


{% block content %}
<div class="w-100 ">
    <div class="row">
        <div class="col-12">
            <div class="">
                <h1 class="page-banner white">De-Bait Blog</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1 mb-5">
    
        <div class="row mb-5">
            {% for post in posts %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                <div class="card h-100 mb-5">
                    <a href="{% url 'post_detail' post.slug %}" class="ratio ratio-4x3">
                        {% if post.image %}
                        <img src="{{ MEDIA_URL }}{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}lum3n-pexels.webp" class="card-img-top"
                            alt="No image available for post">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a href="{% url 'post_detail' post.slug %}">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </a>
                        <h5 class="card-title">
                            
                            </div>
                        </h5>
                        <p class="card-text">{{ post.description }}</p>
                        {% if request.user.is_superuser %}
                            <small class="ml-3 text-end">
                                <a href="">Edit</a>
                                <a class="red" href="">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</div>
</div>
{% endblock %}