{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="w-100 ">
  <div class="row">
    <div class="col-12">
      <div class="">
        <h1 class="page-banner white">Sign In</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-6 account-page text-center blue">
    
      <h5>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</h5>

<div class="signup col-sm-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="add-btn btn" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}