{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-btn btn" name="action">{% trans "Change Password" %}</button>
    </form>

<div class="row">
    <div class="col pb-5 mb-5 d-xs-flex d-md-none"></div>
</div>

{% endblock %}
