{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="w-100 ">
  <div class="row">
    <div class="col-12">
      <div class="">
        <h1 class="page-banner white">Sign Up</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-6 account-page blue text-center">
    <h5>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </h5>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="add-btn btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col pb-5 mb-5 d-xs-flex d-md-none"></div>
</div>


{% endblock %}