{% load static %}
{% load basket_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WildHook | Irish Fishing Supplies</title>

  <!-- core css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  {% block extra_css %}
  {% endblock %}
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/media/favicon/favicon.ico">
  <!-- core js -->
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/75b57bf907.js" crossorigin="anonymous"></script>
  <!-- Stripe js -->
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand blue" href="{% url 'home' %}">WildHook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link blue" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="#">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle blue" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu bg-yellow">
              <li><a class="dropdown-item blue" href="{% url 'products' %}">All</a></li>
              <li><a class="dropdown-item blue" href="{% url 'products' %}?category=new_arrivals">New Arrivals</a></li>
              <li><a class="dropdown-item blue" href="{% url 'products' %}?category=rods">Rods</a></li>
              <li><a class="dropdown-item blue" href="{% url 'products' %}?category=reels">Reels</a></li>
              <li><a class="dropdown-item blue" href="{% url 'products' %}?category=sea_fishing">Sea Fishing</a></li>
              <li><a class="dropdown-item blue" href="{% url 'products' %}?category=river_fishing">River Fishing</a>
              </li>
            </ul>
          </li>
        </ul>

        <form class="d-flex d-sm-end d-none d-sm-flex" method="GET" action="{% url 'products' %}" role="search">
          <input class="form-control me-2" name="q" placeholder="Search" aria-label="Search">
          <button class="btn blue" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link blue" href="{% url 'profile' %}">
              <span class="clearfix d-sm-inline-block"> My Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'bag' %}" class="nav-link blue">
              <span class="badge z-depth-1 mr-1 bg-yellow blue">
                {% if product_count %}
                {{ product_count }}
                {% else %}
                0
                {% endif %}
              </span>
              <i class="bi bi-cart3"></i>
              <span class="clearfix  d-sm-inline-block"> Cart</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="{% url 'account_logout' %}">
              <span class="clearfix d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link blue" href="{% url 'account_login' %}">
              <span class="clearfix d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="{% url 'account_signup' %}">
              <span class="clearfix d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="logo logo-container">
          <h1 class="logo-txt white">WildHook</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-yellow">
    <div class="row">
      <div class="col-12 d-block blue cta-banner">
        <h4 class="text-uppercase">
          Free delivery on orders over ${{ free_delivery }}! <a href="{% url 'products' %}"
            class="btn shop-now-button rounded text-uppercase blue display-4">Shop
            Now</a>
        </h4>

      </div>
    </div>
  </div>
  {% if messages %}
  <div aria-live="polite" aria-atomic="true" class="messages-item-div show position-relative">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}

  {% endblock %}
  <footer class="footer bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h5><i class="fa-regular fa-copyright"></i> WildHook | 2024</h5>
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled">
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="">xx</a></li>
                <li><a href="">xx</a></li>
                <li><a href="">xx</a></li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                <li><a href="">xx</a></li>
                <li><a href="">xx</a></li>
                <li><a href="">xx</a></li>
                <li><a href="">xx</a></li>
              </ul>
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item"><a href="" class="white nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li class="nav-item"><a href="" class="white nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li class="nav-item"><a href="" class="white nav-link"><i class="fa fa-github fa-lg"></i></a></li>
            <li class="nav-item"><a href="" class="white nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
          </ul>
          <br>
        </div>
        <div class="col-md-2">
          <h5 class="text-md-right">Contact Us</h5>
          <hr>
        </div>
        <div class="col-md-5">
          <form>
            <fieldset class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
            </fieldset>
            <fieldset class="form-group text-xs-right">
              <button type="button" class="btn btn-light-outline btn-lg white">Send</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  <script>
    $(document).ready(function () {
      $(".toast").toast('show');
    });
  </script>
  {% endblock %}
</body>

</html>